body{
    margin: 0;
}
#content{
    display: flex;
    flex-direction: column;
    margin: 0;
    background: black;
    font-family: Helvetica, sans-serif;
}
header{
    background: url('https://wallpaperaccess.com/full/17494.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-size: 4rem;
    color: white;
}
nav{
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    height: 7vh;
    background-color: rgb(30,30,30);
}
nav a{
    text-align: center;
    width: 30vw;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
nav a:hover{
    background-color: rgb(60,60,60);
    transform: scale(1.1);
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,0.5),  rgba(0,0,0,0.5)),
        url('https://raw.githubusercontent.com/raurosaur/restaurant/main/dist/restaurant.jpg');
    background-size: 100vw 150vh;
    height: 100vh;

}   
@media (max-width: 600px) {
    .container{
        height: 200vh;
        flex-direction: column; 
    }
}
.about{
    background-color: none;
    height: 600px;
    width: 350px;
    padding: 10px;
    color: white;
    text-align: justify;
    font-size: 1.6rem;
    font-family: serif;
}

#content footer{
    display: flex;
    background-color: rgb(1, 16, 63);
    justify-content: center;
    align-items: center;
    color: white;
    height: 8vh;
}